{%- comment -%}
Cloudflare Web Analytics
Privacy-friendly, lightweight analytics
Get your token from: https://dash.cloudflare.com/[account]/[site]/analytics/web-analytics
{%- endcomment -%}

{%- if site.cloudflare_analytics_token and site.cloudflare_analytics_token != "YOUR_CLOUDFLARE_ANALYTICS_TOKEN_HERE" -%}
<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ site.cloudflare_analytics_token }}"}'></script>
<!-- End Cloudflare Web Analytics -->
{%- endif -%}
